{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}


    <section class="banner" id="top" style="background-image: url(img/homepage-banner-image-1920x700.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Savoir ce qu’on veut Ce point vaut pour n’importe quel voyage..</h2>
                        <div class="blue-button">
                            <a href="contact.html">Nous contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-5">
                            <div class="booking-cta">
                                <h1>Faite Votre Résevation</h1>
                                <p>Demande de réservation. Vous pouvez nous envoyer votre demande et nous reviendrons dans quelques heures avec les informations pertinentes de notre part..
                                Si vous avez besoin de modifier la date de votre vol, la classe de voyage ou votre vol en correspondance, nous sommes là pour vous aider.
                                </p>
                            </div>
                        </div>
                        <div class=" col-md-7 col-md-pull-7">
                            <div class="booking-form">
                               
                                    {{ form_start(search) }}
                                    <div class="form-group">
                                        <span class="form-label">Votre Destination</span>
                                        {# <input class="form-control" type="text" placeholder="Enter a destination or hotel name"> #}
                                        {{ form_row(search.destination)}}
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label">Nb de jours</span>
                                                 {{ form_row(search.duree)}}
                                               
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label">Tags</span>
                                                {{ form_row(search.tag)}}
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label">Type de vole </span>
                                                 {{ form_row(search.type_vole)}}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label"> véhicule de location</span>
                                                {{ form_row(search.type_vehicule)}}
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label">Hôtels All inclusive</span>
                                                {# {{ form_row(search.all_incluse)}} #}
                                                
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-sm-12">
                                        <span class="form-label"> Budget</span>
                                            <div class="form-group">
                                                
                                                <div  class="col-md-6">
                                                 {{ form_row(search.minprix)}} 
                                                </div>
                                                 <div  class="col-md-6">
                                                 {{ form_row(search.maxprix)}} 
                                                </div>
                                            </div>
                                        </div>                                  
                                    </div>
                                    <div class="form-btn">
                                        <button class="btn btn-border-fill btn-block">Envoyer</button>                                       
                                    </div>
                                    {{ form_end(search) }}
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="featured-places">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <span>Nos Voyage  All inclusive</span>
                            <h2>Choisissez votre envis!</h2>
                        </div>
                    </div> 
                </div> 

                <div class="row">
                    {% for voyage in voyages %}
                        {{ include("partials/voyage.html.twig",{'voyage':voyage}) }}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="featured-places">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <span>Meuilleur Destination</span>
                        </div>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-1-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Avoir un itinéraire… ou pas</h4>

                                <p>Dans le même ordre d’idée, lorsque je voyage, j’aime bien savoir un peu où je m’en vais et prévoir les activités que je ferai quitte à ... </p>

                                <div class="text-button">
                                    <a href="blog-details.html">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-2-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> Marc </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>On dort où?</h4>

                                <p>En ce qui nous concerne, nous avons réservés sur Homelidays. Pour le moment, tout fonctionne comme sur des roulettes ... </p>

                                <div class="text-button">
                                    <a href="blog-details.html">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-3-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> Emma </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Se faire une liste de bons restos</h4>

                                <p>J’adore bien manger, mais il nous est arrivé quelques fois de tomber sur des attrape-touristes où l’attente n’en valait vraiment pas la peine... </p>

                                <div class="text-button">
                                    <a href="blog-details.html">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="video-container">
            <div class="video-overlay"></div>
            <div class="video-content">
                <div class="inner">
                      <div class="section-heading">
                          <span>Nous Contacter</span>
                          <h2>Savoir ce qu’on veut</h2>
                      </div>
                      <!-- Modal button -->

                      <div class="blue-button">
                        <a href="contact.html">Cliquez</a>
                      </div>
                </div>
            </div>
        </section>

        <section class="popular-places" id="popular">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <span>Témoignage</span>
                        </div>
                    </div> 
                </div> 

                <div class="owl-carousel owl-theme">
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_1.jpg" alt="">
                            <div class="text-content">
                                <h4>luc </h4>
                                <span>mais nous allons probablement essayer le restaurant japonais Okuda ainsi que le bistro Les Papilles.</span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_2.jpg" alt="">
                            <div class="text-content">
                                <h4>Anne</h4>
                                 <span> <span>mais nous allons probablement essayer le restaurant japonais Okuda ainsi que le bistro Les Papilles.</span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_3.jpg" alt="">
                            <div class="text-content">
                                <h4>Kevin</h4>
                                <span>"faire le plus possible, tout en étant sélectives. Nous ferons sans doute un arrêt au musée Carnavalet </span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_4.jpg" alt="">
                            <div class="text-content">
                                <h4>Nelly</h4>
                               <span>"faire le plus possible, tout en étant sélectives. Nous ferons sans doute un arrêt au musée Carnavalet </span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_5.jpg" alt="">
                            <div class="text-content">
                                <h4>Zoé</h4>
                                <span>"faire le plus possible, tout en étant sélectives. Nous ferons sans doute un arrêt au musée Carnavalet </span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_1.jpg" alt="">
                            <div class="text-content">
                                <h4>Martin</h4>
                                <span>"faire le plus possible, tout en étant sélectives. Nous ferons sans doute un arrêt au musée Carnavalet </span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_2.jpg" alt="">
                            <div class="text-content">
                                <h4>Lulu</h4>
                               <span>"faire le plus possible, tout en étant sélectives. Nous ferons sans doute un arrêt au musée Carnavalet </span>
                            </div>
                            <div class="plus-button">
                                <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock %}
  {% block javascripts %}
    <script>
        $(document).ready(function() {
                $('.js-destination-multiple').select2();
                  $('.js-type_vole-multiple').select2();
                    $('.js-type_vehicule-multiple').select2();
                      $('.js-all_incluse-multiple').select2();
        });
    </script>
{% endblock %}
    
