{% extends "base.html.twig" %}

{% block title %}Voyage {% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig",{'name':'Voyage détails'}) }}


    <section class="banner banner-secondary" id="top" style="background-image: url(/assets/upload/voyages/{{voyage.image}});">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>{{voyage.name}}</h2>

                        <h4> <i class="fa fa-calendar"></i> 
                        {% for destnation in  voyage.destnation %}
                         {{destnation}}  
                        {% endfor %} 
                        &nbsp;&nbsp; 
                        <i class="fa fa-cube"></i> {{ voyage.duree}} nights &nbsp;&nbsp;

                         <i class="fa fa-plane"></i>{% for vol in  voyage.vol %}
                 
                          {{vol}}  
                        {% endfor %} </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {# {% for voiture_loc in voyage.voiture_loc %}
 <pre>
   {{ dump(voiture_loc) }}
   {% for voiture in voiture_loc.voiture %}
<pre>
  {{ dump(voiture.type) }}
</pre>
  {% endfor %}
 </pre>
  {% endfor %} #}
  <main>
        <section class="featured-places">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div>
                      <img src="img/product-1-720x480.jpg" alt="" class="img-responsive wc-image">
                    </div>
                    <br>
                        <h2><strong class="text-primary">{{ voyage.prix /100 }}€</strong></h2>
                        <h2><small><i class="fa fa-map-marker"></i> 
                         
                         {% for hotel in  voyage.hotel %}
                         {{hotel}} ,{{hotel.addresse}}  
                        {% endfor %}
                    
                         </small></h2>

                  </div>

                  <div class="col-md-6 col-xs-12">
                    <br>
                    <div class="cart_extra">
                                                                 
                        <div class="cart_btn">
                            <a href='{{ path('cart_add',{'id':voyage.id}) }}' class="btn btn-fill-out btn-addtocart" type="button"><i class="icon-basket-loaded"></i> Add to cart</a>
                            <a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                            <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>
                        </div>
                    </div>
                     <hr />
                    <ul class="product-meta">
                        <li>Destination: <a href="#">
                          {% for destnation in  voyage.destnation %}
                            {{destnation}}  
                          {% endfor %}
                        </a></li>
                        <li>Tags: {{ voyage.tags}} </li>
                    </ul>
                    <div class="row">
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-1-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-2-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-3-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-4-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-5-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="img/product-6-720x480.jpg" alt="" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="#" method="post" class="form">
                    <div class="accordions">
                        <ul class="accordion">
                            <li>
                                <a class="accordion-trigger">Description</a>
                                
                                <div class="accordion-content">
                                    <p>{{ voyage.description | raw }}</p>
{# 
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium esse eos qui optio rerum nam quae libero pariatur commodi blanditiis voluptatibus assumenda earum magni nisi numquam, ad, dolorum fugit expedita.</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas, vel accusamus nisi, voluptatum necessitatibus facilis voluptatibus architecto! Excepturi voluptas tempora omnis aliquam doloremque culpa, ipsum nulla error tenetur assumenda.</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed similique nam repellendus commodi eaque dolor numquam sint accusantium minus, reiciendis consequuntur itaque, qui. Qui officiis omnis nisi rem fuga adipisci, delectus, quidem ipsam ducimus tempora nihil facilis provident facere. Nemo.</p> #}
                                </div>
                            </li>
                            <li>
                                <a class="accordion-trigger">Hotel: 
                                {% for hotel in  voyage.hotel %}
                                      {{ hotel }}
                                {% endfor %} 

                                </a>
                                <div class="accordion-content">
                                    <ul class="list-group list-group-no-border">
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p class="pjVpProductPolicyTitle">
                                                          <strong>Description</strong>
                                                     </p>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                     <p>
                                                      {% for hotels in  voyage.hotel %}
                                                           
                                                              {{ hotels.description | raw  }}

                                                        {% endfor %} 
                                                     </p>
                                                </div>
                                           </div>
                                      </li>

                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p>
                                                          <strong>Prix nuité</strong>
                                                     </p>
                                                </div>

                                                <div class="col-md-10 col-sm-9">
                                                     <p>
                                                           {% for hotels in  voyage.hotel %}
                                                           
                                                              {{ hotels.prix}}€

                                                        {% endfor %} 
                                                     </p>
                                                </div>
                                           </div>
                                      </li>
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p>
                                                          <strong>Equipements</strong>
                                                     </p>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                     <div>
                                                        {% for hotel in  voyage.hotel %}
                                                          
                                                          {% if hotel.isSpa == 1 %}
                                                           <i class='fas fa-spa fa-lg '><br/> <p style=" font-size:1.2rem"> Spa</p></i>
                                                          {% endif %}

                                                          {% if hotel.isWifi == 1 %}
                                                           <i class='fas fa-wifi fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Wifi</p></i>
                                                          {% endif %}

                                                          {% if hotel.isPiscine == 1 %}
                                                           <i class='fas fa-swimming-pool fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Piscine</p></i>
                                                          {% endif %}

                                                          {% if hotel.IsPlage == 1 %}
                                                           <i class='fas fa-umbrella-beach fa-lg ml-5'><br/> <p style=" font-size:1.2rem">Plage</p></i>
                                                          {% endif %}

                                                          {% if hotel.isSport == 1 %}
                                                           <i class='fas fa-dumbbell fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Sport</p></i>
                                                          {% endif %}
                                                          
                                                          {% if hotel.isBar == 1 %}
                                                           <i class='fas fa-cocktail fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Bar</p></i>
                                                          {% endif %}
                                                          
                                                          {% if hotel.isRestaurant == 1 %}
                                                           <i class='fas fa-utensils fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Restaurent</p></i>
                                                          {% endif %}
                                                          
                                                          {% if hotel.isParking == 1 %}
                                                           <i class='fas fa-car fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Parking</p></i>
                                                          {% endif %}

                                                           {% if hotel.isClim == 1 %}
                                                           <i class='fas fa-snowflake  fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Clim</p></i>
                                                          {% endif %}

                                                        {% endfor %}

                                                     </div>

                                                </div>
                                           </div>
                                      </li>
                                      
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p>
                                                          <strong>Images</strong>
                                                     </p>
                                                </div>

                                                <div class="col-md-10 col-sm-9">
                                                     <div>
                                                          <p>
                                                               Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                                                Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum. <br>
                                                          </p>
                                                     </div>
                                                </div>
                                           </div>
                                      </li>
                                 </ul>
                                </div>
                            </li>

                            <li>
                                <a class="accordion-trigger">Map</a>
                                <div class="accordion-content">
                                    <iframe src=" 
                                    {% for hotels in  voyage.hotel %}
                                     {{ hotels.Maps}}
                                     {% endfor %} " 
                                      width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </li>
                             <li>
                                <a class="accordion-trigger">Agence de location: 
                                {% for voiture_loc in voyage.voiture_loc %}
                                          {{ voiture_loc.name  }}
                                {% endfor %}
                                </a>
                                <div class="accordion-content">
                                    <ul class="list-group list-group-no-border">
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p class="pjVpProductPolicyTitle">
                                                          <strong>Description</strong>
                                                     </p>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                     <p>
                                                      {% for voiture_loc in voyage.voiture_loc %}
                                                                {{ voiture_loc.description | raw  }}
                                                      {% endfor %}
                                                     </p>
                                                </div>
                                           </div>
                                      </li>

                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p>
                                                          <strong>Prix Journnée</strong>
                                                     </p>
                                                </div>

                                                <div class="col-md-10 col-sm-9">
                                                     <p>
                                                        {% for voiture_loc in voyage.voiture_loc %}
                                                                {{ voiture_loc.prix_jours/100 }}€
                                                        {% endfor %}
                                                     </p>
                                                </div>
                                           </div>
                                      </li>
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                  <p>
                                                      <strong>Type de véhicule: </strong>
                                                  </p>
                                                </div>
                                                <div class="col-md-1 col-sm-1">
                                                  <p>   
                                                    <strong>                                                     
                                                      {% for voiture_loc in voyage.voiture_loc %}                                                     
                                                        {% for voiture in voiture_loc.voiture %}
                                                        {{voiture.type}}
                                                        {% endfor %}
                                                      {% endfor %}
                                                    </strong>
                                                  </p>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                  <p>
                                                    <strong>Marque du véhicule:</strong>
                                                  </p>
                                                </div>
                                                <div class="col-md-2 col-sm-1">
                                                  <p>   
                                                    <strong>                                                     
                                                      {% for voiture_loc in voyage.voiture_loc %}                                                     
                                                        {% for voiture in voiture_loc.voiture %}
                                                        {{voiture.name}}
                                                       
                                                        {% endfor %}
                                                      {% endfor %}
                                                    </strong>
                                                  </p>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                  <p>
                                                    <strong>Option du véhicule:</strong>
                                                  </p>
                                                </div>
                                                <div class="col-md-2 col-sm-2">

                                                 {% for voiture_loc in voyage.voiture_loc %}                                                     
                                                  {% for voiture in voiture_loc.voiture %}
                                                  {% if voiture.isBagage == 1 %}
                                                      <i class='fas fa-suitcase fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Bagages</p></i>
                                                      {% endif %}

                                                    {% if voiture.isBagage == 1 %}
                                                      <i class='fas fa-snowflake fa-lg ml-5'><br/> <p style=" font-size:1.2rem"> Clim</p></i>
                                                    {% endif %}
                                                  {% endfor %}
                                                {% endfor %}                 
                                              </div>  
                                              <div class="col-md-1 col-sm-1">
                                                        {% for voiture_loc in voyage.voiture_loc %}                                                     
                                                          {% for voiture in voiture_loc.voiture %}
                                                            <p style=" font-size:1.2rem">                                                       
                                                              {% if voiture.isAuto == 1 %}
                                                            
                                                                Boîte: Manuelle
                                                                {% else %}
                                                                Boîte:Automatique
                                                              {% endif %}
                                                            </p>
                                                          {% endfor %}
                                                        {% endfor %}       
                                                                                           
                                                                                                                                                
                                                </div>
                                           </div>
                                      </li>
                                      
                                      <li class="list-group-item">
                                           <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                     <p>
                                                          <strong>Images</strong>
                                                     </p>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                <div class="product-image">
                                                  <div class="product_img_box">
                                                      {% for voiture_loc in voyage.voiture_loc %}                                                     
                                                        {% for voiture in voiture_loc.voiture %}
                                                          <img id="product_img" src='/assets/upload/voitures/{{voiture.image}}' data-zoom-image="/assets/upload/voitures/{{voiture.image}}" alt="product_img1" />
                                                            <a href="#" class="product_img_zoom" title="Zoom">
                                                            <span class="linearicons-zoom-in"></span>
                                                            </a>
                                                        {% endfor %}
                                                      {% endfor %}  
                                                    </div>
                                                  </div>
                                                </div>
                                           </div>
                                      </li>
                                 </ul>
                                </div> 
                            </li>
                           <li>
                              <a class="accordion-trigger">Vol</a>
                              <div class="accordion-content">
                                Compagny aérien :
                                {% for vol in voyage.vol %}                                                     
                                    {% for compagny in vol.compagny %}
                                        {{compagny.name}}                                    
                                    {% endfor %}
                                  {% endfor %}

                                  {% for vol in voyage.vol %}                                                     
                                    {% for compagny in vol.compagny %}
                                   
                                          <img src=" /assets/upload/compagnie/{{compagny.image}}" width="50px" height="50px" alt="">
                                                                    
                                    {% endfor %}
                                  {% endfor %} 
                                  <br>
                                Type de vol :
                                  {% for vol in voyage.vol %}                                                     
                                    {% for type_vol in vol.type_vol %}
                                        {{type_vol.name}}                                    
                                    {% endfor %}
                                  {% endfor %}    
                              </div>
                              
                          </li>
                        </ul> <!-- / accordion -->
                         <div class="review_form field_form">
                                <h5>Add a review</h5>
                                <form class="row mt-3">
                                    <div class="form-group col-12">
                                        <div class="star_rating">
                                            <span data-value="1"><i class="far fa-star"></i></span>
                                            <span data-value="2"><i class="far fa-star"></i></span>
                                            <span data-value="3"><i class="far fa-star"></i></span>
                                            <span data-value="4"><i class="far fa-star"></i></span>
                                            <span data-value="5"><i class="far fa-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea required="required" placeholder="Your review *" class="form-control" name="message" rows="4"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Enter Name *" class="form-control" name="name" type="text">
                                     </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Enter Email *" class="form-control" name="email" type="email">
                                    </div>

                                    <div class="form-group col-12">
                                        <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Submit Review</button>
                                    </div>
                                </form>
                            </div>
                    </div>
                </form>
                <div class="row">
                  <div class="col-12">
                      <div class="heading_s1">
                          <h3>Produits similaire</h3>
                        </div>
                      <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                          {% for destination in voyage.destnation %}
                            {% for voyage in destination.voyages %}
                              {{ include("partials/voyage_item.html.twig",{'voyage': voyage}) }}
                            {% endfor %}
                          {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </main>
{% endblock body %}