    <div class="wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="primary-nav-button" type="button">Menu</button>
                        <a href="index.html"><div class="logo">
                            <img src="/img/logokhyo.png" alt="Venue Logo">
                        </div></a>
                        <nav id="primary-nav" class="dropdown cf">
                            <ul class="dropdown menu">
                                <li class='active'><a href="{{ path('home') }}">Accueil</a></li>

                                <li><a href="packages.html">Boutique</a></li>

                                <li><a href="blog.html">Fret</a></li>


                                <li><a href="{{ path('account') }}">Profile</a></li>
                                {% if app.user %}
                                    <li><a href="{{ path('app_logout') }}"><i class="ti-user"></i><span>Se déconnecter</span></a></li>
                                {% else %}
                                 <li><a href="{{ path('app_login') }}"><i class="ti-user"></i><span>Se connecter</span></a></li>
                                 <li><a href="{{ path('app_register') }}"><i class="fas fa-sign-in-alt"></i><span>S'enregistrer</span></a></li>
                                {% endif %}
                              
                           
                              <ul class="navbar-nav attr-nav align-items-center">
                                    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">
                                        
                                        {% set Q = 0 %}
                                        {% for element in app.session.get('cartData') %}
                                                {% set Q = Q + element.quantite %}
                                        {% endfor %}
                                        {{ Q }}
                                    </span></a>
                                        <div class="cart_box dropdown-menu dropdown-menu-right">
                                            <ul class="cart_list">
                                            {% if app.session.get('cartData')  %}
                                                {% set SubTotal = 0 %}
                                                {% for element in app.session.get('cartData') %}
                                                {% set SubTotal = SubTotal + (element.quantite * element.voyage.prix/100 ) %}
                                                    <li>
                                                        <a href="{{ path('cart_delete_ALL',{'id':element.voyage.id}) }}" class="item_remove"><i class="ion-close"></i></a>
                                                        <a href="#"><img src="/assets/upload/voyages/{{element.voyage.image}}" alt="cart_thumb1">{{element.voyage.name}}</a>
                                                        <span class="cart_quantity">{{element.quantite}}x<span class="cart_amount"> <span class="price_symbole">€</span></span>{{element.voyage.prix/100}}</span>
                                                    </li>
                                                {% endfor %}
                                                {% else %}
                                                <li>Votre Pannier est vide! </li> 
                                            {% endif %}
                                            
                                            
                                            
                                            </ul>
                                            {% if app.session.get('cartData') %}
                                                <div class="cart_footer">
                                                    <p class="cart_total"><strong>Subtotal:</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>{{ SubTotal }}€</p>
                                                    <p class="cart_buttons"><a href="{{ path('cart') }}" class="btn btn-fill-line rounded-0 view-cart">Voir pannier</a><a href="{{ path('checkout') }}" class="btn btn-fill-out rounded-0 checkout">Checkout</a></p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </ul>
                        </nav><!-- / #primary-nav -->
                        
                    </div>
                </div>
            </div>
        </header>
    </div>

    