{% extends 'base.html.twig' %}

{% block title %} Checkout khyo!{% endblock %}

{% block scriptStripe %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}


{% block body %}
{{ include("partials/title_section.html.twig",{'name':'checkout'}) }}
 
<div class="section">
	<div class="container">
   
        <div class="row">
        	<div class="col-md-6">
                <div class="heading_s1">
                        <h4>  Merci de verifier votre Address</h4>
                        <div class="content">
                            {{ address | replace({"[spr]": "<br>"}) | raw }}
                            <a href="{{ path('address_edit', {'id': address.id} )}}" class="btn btn-fill-out mt-1">Modifier  une addresse</a>
                             <a href="{{ path('checkout_edit')}}" class="btn btn-fill-out mt-1">changer une addresse</a>
                        </div>
                        
                </div>
                {% if informations %}
                    <div class="heading_s1">
                        <h4>Merci de verifier vos informations</h4>
                        <div class="form-group mb-0" id="informations">
                            {{ informations }}
                        </div>
                    </div>
                {% endif %}
          </div>

          <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Voyage</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                {% for element in cart.voyage %}
                                 
                                     <tr>
                                        <td> {{ element.voyage.name }} <span class="product-qty">x {{ element.quantite }}</span></td>
                                        <td> {{ element.voyage.prix/100}} €</td>
                                    </tr>
                                {% endfor %}
                                   
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal HT</th>
                                    <td class="product-subtotal">{{ cart.data.subTotalHt }}€</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal">{{ cart.data.Taxe  }}€</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">{{ cart.data.subTotalTTC}}€</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>


                        <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">Payer  {{ cart.data.subTotalTTC }}€</button>

                    </div>
                    
                </div>
          </div>
        </div>
    
    </div>
</div>


{% endblock %}

{% block javascripts %}

   <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51IyZcCCOJraNtFKTGI3YDlcrTXdmbxH15QMqgmC0aQa8dUYrjdCGkfKsDhZthLv7Ib85pRYqNzgtUpeeUmI2DOIL00QdjOmYHZ");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session/{{reference }}", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>

{% endblock %}